NODE_ENV=development
PORT=3010
DATABASE_URL=secret
FRONTEND_URL=http://localhost:3001
JWT_SECRET=jwtsecret
JWT_EXPIRES_IN=604800
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
GOOGLE_CALLBACK_URL=http://localhost:3010/auth/google/callback